# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Python distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Miscellaneous
*.DS_Store
Thumbs.db

logs/
